<h1 align="center"> Tratamento de Arquivos</h1>

<h3 align="center"> Leitura </h3>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

In [6]:
arq1 = open("arquivos/arquivo1.txt", "r", encoding="utf-8")
print(arq1.read())

Testando gravação de arquivos em Python  Acrescentando conteúdo

In [7]:
# Contar o número de caracteres
print(arq1.tell())

66

In [8]:
# Retornar para o iníco do arquivo
print(arq1.seek(0,0))

0

In [9]:
# Ler os primeiros 10 caracteres
print(arq1.read(10))

Testando g

<h3 align="center"> Gravação </h3>

In [15]:
# posso utilizar o metodo r para abrir tanto para leitura quanto para escrita
arq2 = open("arquivos/arquivo1.txt", "w", encoding="utf-8")

In [16]:
# Gravando arquivo
arq2.write("Testando gravação de arquivos em Python - Stella")

48

In [17]:
arq2.close()
arq2 = open("arquivos/arquivo1.txt", "r", encoding="utf-8")
print(arq2.read())

Testando gravação de arquivos em Python - Stella

In [19]:
# Retornando ao início do arquivo para leitura
arq2.seek(0,0)
print(arq2.read())

Testando gravação de arquivos em Python - Stella

<h3 align="center"> Outra maneira de se ler arquivos</h3>

In [36]:
import pandas as pd
f = pd.read_csv('arquivos/salarios.csv', sep=';')
display(f)

      Name,Position Title,Department,Employee Annual Salary
0      AARON,  ELVIA J,WATER RATE TAKER,WATER MGMNT,$...
1      AARON,  JEFFERY M,POLICE OFFICER,POLICE,$80778.00
2         AARON,  KARINA,POLICE OFFICER,POLICE,$80778.00
3      AARON,  KIMBERLEI R,CHIEF CONTRACT EXPEDITER,G...
4      ABAD JR,  VICENTE M,CIVIL ENGINEER IV,WATER MG...
...                                                  ...
32177  ZYGOWICZ,  PETER J,POLICE OFFICER,POLICE,$8652...
32178  ZYMANTAS,  MARK E,POLICE OFFICER,POLICE,$83616.00
32179  ZYRKOWSKI,  CARLO E,POLICE OFFICER,POLICE,$865...
32180  ZYSKOWSKI,  DARIUSZ,CHIEF DATA BASE ANALYST,Do...
32181                                                ,,,

[32182 rows x 1 columns]

In [39]:
f.describe()

       Name,Position Title,Department,Employee Annual Salary
count                                               32182
unique                                              32170
top        JONES,  DANIEL,POLICE OFFICER,POLICE,$69684.00
freq                                                    2

In [44]:
df = pd.read_csv('arquivos/binary.csv')
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

<h2 align="center"> Manipulando .txt </h2>

In [59]:
texto = "Cientista de Dados é a profissão que mais tem crescido em todo mundo.\n"
texto = texto + "Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning.\n"
texto += "E claro, em Big Data."

print(texto)

Cientista de Dados é a profissão que mais tem crescido em todo mundo.
Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning.
E claro, em Big Data.

In [47]:
import os

In [54]:
# criar o arquivo
arquivo = open(os.path.join('arquivos/cientista.txt'), 'w', encoding='utf-8')

# escrever no arquivo

for palavra in texto.split():
    arquivo.write(palavra+' ')

arquivo.close()

In [55]:
#ler o aquivo

arquivo = open('arquivos/cientista.txt','r', encoding='utf-8')

conteudo = arquivo.read()
arquivo.close()
 
print(conteudo)

Cientista de Dados é a profissão que mais tem crescido em todo mundo. Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning. E claro, em Big Data.

In [56]:
with open('arquivos/cientista.txt', 'r', encoding='utf-8') as arquivo:
    conteudo = arquivo.read()

In [57]:
print(len(conteudo))

185

In [61]:
with open('arquivos/cientista.txt', 'w', encoding='utf-8') as arquivo:
    arquivo.write(texto[:21])
    arquivo.write('\n')
    arquivo.write(texto[:33])